<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= pelicula.titulo %></h1>
    <div style="border: 1px solid #ccc; padding: 20px; border-radius: 8px;">
        <p><strong>ID:</strong> <%= pelicula.id %></p>
        <p><strong>Titulo:</strong> <%= pelicula.titulo%></p>
        <p><strong>Duracion:</strong> <%= pelicula.duracion %></p>
        <p><strong>genero:</strong> <%= pelicula.genero %></p>
    </div>
    <br>
    <a href="/">⬅ Volver al listado</a>
    <a href="/editar/<%= pelicula.id %>">✏️ Editar</a>
</body>
</html>