<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <!-- El action incluye el ID para saber cuál editar -->
    <form action="/actualizar/<%= pelicula.id %>" method="POST">
        <div>
            <label>Titulo:</label>
            <input type="text" name="titulo" value="<%= pelicula.titulo %>" required>
        </div>
        <br>
        <div>
            <label>Duracion:</label>
            <input type="number" name="duracion" value="<%= pelicula.duracion %>" required>
        </div>
        <br>
        <div>
            <label>Genero:</label>
            <input type="text" name="genero" value="<%= pelicula.genero %>" required>
        </div>
        <br>
        <button type="submit">Guardar Cambios</button>
        <a href="/">Cancelar</a>
    </form>
</body>

</html>